# database config
MONGO_URI=mongodb+srv://<username>:<password>@clusterinstagramclone.wshm2ks.mongodb.net/<database>?retryWrites=true&w=majority

# Server Port
PORT=3000

# Other config vars
JWT_SECRET=your_jwt_secret